:root{
  --verdeDoopla: rgb(64, 249, 155);
  --moradoDoopla: rgb(111, 94, 158);
  --moradoText:rgb(87,70,123);
  --rojoDoopla: rgb(219, 54, 88);
  --violetaDoopla: rgb(156, 0, 139);
  --A1Color:rgb(0,255,0);
  --A2Color:rgb(0,210,0);
  --A3Color:rgb(0,180,0);
  --A4Color:rgb(0,150,0);
  --B1Color: rgb(141, 216, 55);
  --B2Color: rgb(115, 192, 27);
  --B3Color: rgb(93, 163, 12);
  --B4Color: rgb(71, 124, 10);
  --C1Color:rgb(216, 216, 1);
  --C2Color:rgb(194, 194, 0);
  --C3Color:rgb(155, 155, 0);
  --C4Color:rgb(119, 119, 0);
  
}html {
    font-family: 'Nunito', "sans-serif";

}



.v-btn__content {
    font-family: "sans-serif" !important;
    color: rgb(255, 255, 255) !important;
  }


  
  .purpleBtn {
    background-color: var("--moradoDoopla") !important;
    border-color: var("--moradoDoopla") !important;
  }
  
  .redBtn {
    background-color: var("--rojoDoopla")  !important;
    border-color: var("--rojoDoopla")  !important;
  }
  
  .purpleBtn,
  .redBtn {
    width: 90%;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }


.formBtn {
    background-color: var("--rojoDoopla") !important;
    border-color: var("--rojoDoopla") !important;
    padding: 0px !important;
    width: 150px !important;
    margin: 0px 0px 15px 0px !important;
    font-size: 10px !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  
  .faqBtn {
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: var("--verdeDoopla") !important;
    border-color: var("--verdeDoopla") !important;  
    
    width: 150px;
    margin: 0px 0px 15px 0px !important;
    font-size: 10px !important;
  }
  
  .greenBtn:hover,
  .purpleBtn:hover,
  .redBtn:hover {
    opacity: 0.7;
  }

a{
    color: white;
}

.montosRend {
  max-width: 170px;
  margin: 5px auto;
}

.dooplaTituloVioleta {
  color: var("--violetaDoopla");
  font-size: 30px;
  font-weight: 800;
  
}

.tx-purp1 {
  color: var("--moradoText");
  text-align: center;
}

.dooplaTitle {
  font-size:1.8rem;
  font-weight:900;
}

.DashPurpBgm {
  background-color: rgb(87, 70, 123);
  color: white;

  font-size: 15px;
}

.DashPurpBg {
  background-color: var("--moradoText");
  color:white;
  text-align: center;
  font-weight: 900;
  font-size: 18px;  
  display:block;
  border-radius: 2px;
  padding: 3px 0;
  margin-top: 8px;
  
}

i.v-icon.helpIcon   {
  position:absolute;
  right:5px;
  top:4px;
  color: var("--verdeDoopla");
}

.DashCardBgm {
  background-color: rgb(222,220,225); 
  padding:10px 0;
  height:100%;
}

.greenBtn {
  background-color: var("--verdeDoopla");
  color: rgb(52, 78, 90);
  display: inline-block;
  padding: 3px 25px;
  text-decoration-line: none;
  text-align: center;
  font-size: 9px;
  font-weight: 900;
  width: 150px;
  border-radius: 10px;
}

.purpleBtn {
  background-color: var("--moradoText");
  color: white;
  display: inline-block;
  padding: 3px 25px;
  text-decoration-line: none;
  text-align: center;
  font-size: 9px;
  font-weight: 900;
  width: 150px;
  border-radius: 10px;
}


.bar-notice{
  text-align: center;
  background-image: linear-gradient(to right, rgb(98, 74, 155) 0%, rgb(205, 50, 83) 51%, rgb(99, 74, 154) 100%);
  padding: 5px;
}