:root{
  --verdeDoopla: rgb(64, 249, 155);
  --moradoDoopla: rgb(111, 94, 158);
  --moradoText:rgb(87,70,123);
  --rojoDoopla: rgb(219, 54, 88);
  --violetaDoopla: rgb(156, 0, 139);
}html {
    font-family: 'Nunito', "sans-serif";

}

.v-btn__content {
    font-family: "sans-serif" !important;
    color: rgb(255, 255, 255) !important;
  }

  .purpleBtn {
    background-color: var("--moradoDoopla") !important;
    border-color: var("--moradoDoopla") !important;
  }
  
  .redBtn {
    background-color: var("--rojoDoopla")  !important;
    border-color: var("--rojoDoopla")  !important;
  }
  
  .purpleBtn,
  .redBtn {
    width: 90%;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }


.formBtn {
    background-color: var("--rojoDoopla") !important;
    border-color: var("--rojoDoopla") !important;
    padding: 0px !important;
    width: 150px !important;
    margin: 0px 0px 15px 0px !important;
    font-size: 10px !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  
  .faqBtn {
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: var("--verdeDoopla") !important;
    border-color: var("--verdeDoopla") !important;  
    
    width: 150px;
    margin: 0px 0px 15px 0px !important;
    font-size: 10px !important;
  }
  
  .purpleBtn:hover,
  .redBtn:hover {
    opacity: 0.7;
  }

a{
    color: white;
}

.dooplaTituloVioleta {
  color: var("--violetaDoopla");
  font-size: 30px;
  font-weight: 800;
  
}

.tx-purp1 {
  color: var("--moradoText");
  text-align: center;
}

